In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, classification_report, mean_squared_error, r2_score

In [3]:
data = pd.read_csv('../datasets/dataset.csv', index_col=0)

In [126]:
data

      Red_Win  Blue_Win              Red_Champions             Blue_Champions
0       False      True  [875, 120, 127, 235, 147]     [24, 56, 161, 22, 432]
1       False      True      [92, 56, 142, 29, 57]     [166, 35, 30, 21, 497]
2        True     False    [58, 35, 518, 147, 235]  [122, 245, 777, 429, 117]
3        True     False     [54, 254, 13, 360, 53]    [92, 234, 127, 51, 163]
4        True     False   [114, 876, 157, 81, 235]      [420, 79, 34, 29, 57]
...       ...       ...                        ...                        ...
8788     True     False     [98, 234, 910, 81, 53]     [10, 203, 50, 110, 43]
8789    False      True     [36, 107, 246, 21, 40]    [27, 104, 142, 22, 117]
8790     True     False     [122, 107, 4, 910, 40]    [86, 876, 75, 236, 902]
8791    False      True  [154, 254, 777, 147, 235]    [266, 234, 67, 115, 22]
8792     True     False     [24, 56, 84, 895, 235]     [78, 104, 777, 67, 57]

[8793 rows x 4 columns]

In [129]:
y = data['Red_Win'].astype(int).tolist()

In [38]:
temp_data = data[['Red_Champions','Blue_Champions']].to_numpy()
X = []
for sublist in temp_data:
    concatenated_list = eval(sublist[0]) + eval(sublist[1])
    X.append(concatenated_list)

In [27]:
X_top, X_jgl, X_mid, X_bot, X_supp = [], [], [], [], []

In [40]:
for row in X:
    X_top.append([row[i] for i in (0,5)])
    X_jgl.append([row[i] for i in (1,6)])
    X_mid.append([row[i] for i in (2,7)])
    X_bot.append([row[i] for i in (3,8)])
    X_supp.append([row[i] for i in (4,9)])

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X_top, y, test_size=0.05, random_state=42, stratify=y)

In [102]:
forest_reg = RandomForestRegressor(n_estimators=100, max_depth=5)
forest_reg.fit(X_train, y_train)
y_pred = forest_reg.predict(X_test)

In [103]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
y_pred = np.where(y_pred < 0.5, 0, 1)
print(f'Accuracy: {accuracy_score(y_test, y_pred)}.')
print(f"Mean Squared Error: {mse}")

Accuracy: 0.5409090909090909.
Mean Squared Error: 0.24775552618145058

In [130]:
#0 if left loses
#1 if left wins

In [157]:
sample = np.array([67, 86])
sample_reshaped = sample.reshape(1, -1)
y_pred = forest_reg.predict(sample_reshaped)
# y_pred = np.where(y_pred < 0.5, 0, 1)
y_pred

array([0.45388645])